---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [112]:
import pandas as pd
import numpy as np

skprow = [i for i in range(0,17)]

energy = pd.read_excel('Energy Indicators.xls',skiprows = skprow,skip_footer=38)
energy = energy.drop(['Unnamed: 0','Unnamed: 1'],axis=1)
energy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy['Energy Supply'] =energy['Energy Supply']*1000000 
energy['Index']=energy['Country']
energy=energy.set_index('Index')
energy.set_value('Republic of Korea','Country','South Korea')
energy.set_value('United States of America20','Country','United States')
energy.set_value('China, Hong Kong Special Administrative Region3','Country','Honk Kong')
energy.set_value('United Kingdom of Great Britain and Northern Ireland19','Country','United Kingdom')
energy=energy.reset_index()
energy=energy.drop('Index',axis=1)
# energy.loc['United States of America20']

energy.head(5)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321000000,10,78.669280
1,Albania,102000000,35,100.000000
2,Algeria,1959000000,51,0.551010
3,American Samoa,.................................................,...,0.641026
4,Andorra,9000000,121,88.695650

In [113]:
import re
# rr=re.compile(r"^(.*?)(?:\((.*)\))?$")
# rr.findall('abcd')[0][0]
def regexfun(row):
    rr = re.compile(r"^(.*?)(?:\((.*)\))?$")
    a = rr.findall(row['Country'])[0][0]
    rr2 = re.compile("\D")
#     print(a)
    row['Country']=''.join(rr2.findall(a))
#     print(type(row['Energy Supply']))
    if (row['Energy Supply per Capita']=='...'):
        row['Energy Supply']=np.NaN
        row['Energy Supply per Capita']=np.NaN
    return row
energy = energy.apply(regexfun,axis=1)

# rr2 = re.compile("[\D]")
# rr2.findall('Afganistan')

In [114]:
energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+08                      10.0    78.669280
1         Albania   1.020000e+08                      35.0   100.000000
2         Algeria   1.959000e+09                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+06                     121.0    88.695650

In [115]:
GDP = pd.read_csv('world_bank.csv',skiprows=[0,1,2,3])

GDP.set_index('Country Name')
GDP=GDP.set_value('Korea, Rep.','Country Name','South Korea')
GDP=GDP.set_value('Iran, Islamic Rep.','Country Name','Iran')

GDP = GDP.set_value('Hong Kong SAR, China','Country Name','Honk Kong')
GDP['Country']=GDP['Country Name']
GDP=GDP.reset_index()
GDP.head()

,index,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Country
0,0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN,Aruba
1,1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN,Andorra
2,2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10,Afghanistan
3,3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11,Angola
4,4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10,Albania

In [116]:
ScimEn=pd.read_excel('scimagojr-3.xlsx')
ScimEn = ScimEn[ScimEn['Rank']<=15]
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [117]:
pd.merge(GDP,energy,on='Country',how='inner')

,index,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2010,2011,2012,2013,2014,2015,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,2.467704e+09,NaN,NaN,NaN,NaN,NaN,Aruba,1.200000e+07,120.0,14.870690
1,1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN,Andorra,9.000000e+06,121.0,88.695650
2,2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10,Afghanistan,3.210000e+08,10.0,78.669280
3,3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11,Angola,6.420000e+08,27.0,70.909090
4,4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10,Albania,1.020000e+08,35.0,100.000000
5,6,United Arab Emirates,ARE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,2.860493e+11,3.009462e+11,3.216922e+11,3.355937e+11,3.509313e+11,3.621003e+11,United Arab Emirates,2.710000e+09,300.0,0.000000
6,7,Argentina,ARG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.206739e+11,1.272239e+11,1.261399e+11,1.194442e+11,1.315442e+11,...,4.616402e+11,5.003555e+11,5.043671e+11,5.189199e+11,5.212737e+11,NaN,Argentina,3.378000e+09,79.0,24.064520
7,8,Armenia,ARM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,9.260285e+09,9.695518e+09,1.039360e+10,1.073658e+10,1.111236e+10,1.144574e+10,Armenia,1.430000e+08,48.0,28.236060
8,9,American Samoa,ASM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,American Samoa,NaN,NaN,0.641026
9,10,Antigua and Barbuda,ATG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.135539e+09,1.115174e+09,1.159999e+09,1.155982e+09,1.211723e+09,1.256122e+09,Antigua and Barbuda,8.000000e+06,84.0,0.000000
10,11,Australia,AUS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.983395e+11,2.032502e+11,2.059485e+11,2.187430e+11,2.340028e+11,...,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,Australia,5.386000e+09,231.0,11.810810
11,12,Austria,AUT,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,9.223779e+10,9.734590e+10,9.992428e+10,1.040594e+11,1.104324e+11,...,3.902351e+11,4.011929e+11,4.042312e+11,4.055298e+11,4.069632e+11,4.104717e+11,Austria,1.391000e+09,164.0,72.452820
12,13,Azerbaijan,AZE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,5.290270e+10,5.293758e+10,5.410221e+10,5.723834e+10,5.838310e+10,5.902532e+10,Azerbaijan,5.670000e+08,60.0,6.384345
13,14,Burundi,BDI,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.966083e+08,5.145977e+08,5.612365e+08,5.844459e+08,6.211084e+08,...,2.026864e+09,2.111823e+09,2.196705e+09,2.297623e+09,2.404713e+09,2.343733e+09,Burundi,5.800000e+07,6.0,86.792450
14,15,Belgium,BEL,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.205638e+11,1.265660e+11,1.331626e+11,1.389573e+11,1.486241e+11,...,4.835775e+11,4.922666e+11,4.930476e+11,4.930627e+11,4.994502e+11,5.063123e+11,Belgium,2.338000e+09,210.0,9.959739
15,16,Benin,BEN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.265426e+09,1.305177e+09,1.260456e+09,1.320076e+09,1.407871e+09,...,6.970241e+09,7.176752e+09,7.509970e+09,8.026581e+09,8.551638e+09,8.999782e+09,Benin,1.700000e+08,16.0,0.000000
16,17,Burkina Faso,BFA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.120812e+09,1.166137e+09,1.237607e+09,1.221914e+09,1.249808e+09,...,8.979967e+09,9.565619e+09,1.018286e+10,1.055446e+10,1.098168e+10,1.141871e+10,Burkina Faso,1.640000e+08,10.0,14.500680
17,18,Bangladesh,BGD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.786255e+10,1.894469e+10,1.997775e+10,1.988667e+10,2.206481e+10,...,1.152791e+11,1.227312e+11,1.307350e+11,1.385969e+11,1.469974e+11,1.566295e+11,Bangladesh,1.625000e+09,10.0,1.966329
18,19,Bulgaria,BGR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,4.993917e+10,5.073019e+10,5.085046e+10,5.150230e+10,5.230059e+10,5.385242e+10,Bulgaria,7.030000e+08,97.0,17.234610
19,20,Bahrain,BHR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,2.571327e+10,2.625330e+10,2.719545e+10,2.866752e+10,2.995210e+10,3.082866e+10,Bahrain,5.740000e+08,425.0,0.000000
20,22,Bosnia and Herzegovina,BIH,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.716312e+10,1.731900e+10,1.715738e+10,1.756816e+10,1.775823e+10,1.831896e+10,Bosnia and Herzegovina,2.660000e+08,70.0,41.464670
21,23,Belarus,BLR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,5.522093e+10,5.828222e+10,5.929132e+10,5.992787e+10,6.096048e+10,5.859052e+10,Belarus,1.142000e+09,120.0,0.463389
22,24,Belize,BLZ,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,9.865406e+07,1.034805e+08,1.085434e+08,1.139233e+08,1.196193e+08,...,1.397113e+09,1.426484e+09,1.479846e+09,1.499280e+09,1.560479e+09,1.590417e+09,Belize,1.300000e+07,39.0,64.690030
23,25,Bermuda,BMU,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.236025e+09,1.293871e+09,1.351707e+09,1.366170e+09,1.517951e+09,...,5.744414e+09,5.552580e+09,5.284138e+09,5.151445e+09,NaN,NaN,Bermuda,6.000000e+06,88.0,0.000000
24,27,Brazil,BRA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.466572e+11,2.720034e+11,2.861913e+11,2.886945e+11,2.987572e+11,...,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,Brazil,1.214900e+10,59.0,69.648030
25,28,Barbados,BRB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,4.445500e+09,4.477890e+09,4.490036e+09,4.490036e+09,4.498133e+09,4.542669e+09,Barbados,1.900000e+07,69.0,0.000000
26,29,Brunei Darussalam,BRN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.237062e+10,1.279491e+10,1.291625e+10,1.268996e+10,1.239301e+10,1.233105e+10,Brunei Darussalam,1.270000e+08,310.0,0.045434
27,30,Bhutan,BTN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.585473e+09,1.710581e+09,1.797337e+09,1.835844e+09,1.936060e+09,1.999064e+09,Bhutan,6.300000e+07,83.0,100.000000
28,31,Botswana,BWA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.050106e+08,2.180150e+08,2.325494e+08,2.463187e+08,2.631480e+08,...,1.278666e+10,1.356004e+10,1.416434e+10,1.556098e+10,1.605954e+10,1.601864e+10,Botswana,8.600000e+07,39.0,0.131406
29,32,Central African Republic,CAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,9.147726e+08,9.600854e+08,9.244313e+08,9.178933e+08,9.369888e+08,...,1.986015e+09,2.051568e+09,2.111034e+09,1.329699e+09,1.312983e+09,1.385019e+09,Central African Republic,2.300000e+07,5.0,85.635360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,219,Slovenia,SVN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,4.801642e+10,4.832821e+10,4.701457e+10,4.651722e+10,4.793523e+10,4.931536e+10,Slovenia,2.870000e+08,139.0,31.864240
155,220,Sweden,SWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.357936e+11,1.435088e+11,1.496205e+11,1.575921e+11,1.683422e+11,...,4.883793e+11,5.013917e+11,4.999562e+11,5.061616e+11,5.176362e+11,5.388264e+11,Sweden,2.044000e+09,212.0,46.598460
156,221,Swaziland,SWZ,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,3.527777e+09,3.574597e+09,3.682817e+09,3.791429e+09,3.884333e+09,3.948711e+09,Swaziland,4.900000e+07,39.0,40.677970
157,223,Seychelles,SYC,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.179960e+08,1.122351e+08,1.216725e+08,1.340047e+08,1.419368e+08,...,9.699365e+08,1.046438e+09,1.115610e+09,1.183103e+09,1.222346e+09,1.265101e+09,Seychelles,9.000000e+06,94.0,1.977401
158,224,Syrian Arab Republic,SYR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Syrian Arab Republic,5.420000e+08,28.0,11.568270
159,225,Turks and Caicos Islands,TCA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Turks and Caicos Islands,3.000000e+06,85.0,0.000000
160,226,Chad,TCD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.089940e+09,2.119152e+09,2.232741e+09,2.197029e+09,2.141863e+09,...,1.065771e+10,1.066654e+10,1.161400e+10,1.227600e+10,1.312304e+10,1.335926e+10,Chad,7.700000e+07,6.0,0.000000
161,229,Togo,TGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.516774e+08,6.188127e+08,6.421646e+08,6.742708e+08,7.705972e+08,...,3.172946e+09,3.327905e+09,3.488321e+09,3.626731e+09,3.842067e+09,4.052431e+09,Togo,1.340000e+08,19.0,80.180180
162,230,Thailand,THA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.564004e+10,1.647868e+10,1.772352e+10,1.914137e+10,2.044892e+10,...,3.409236e+11,3.437658e+11,3.686234e+11,3.785840e+11,3.816794e+11,3.924416e+11,Thailand,5.336000e+09,79.0,4.305189
163,231,Tajikistan,TJK,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,5.642222e+09,6.059746e+09,6.514227e+09,6.996280e+09,7.464978e+09,7.778507e+09,Tajikistan,1.060000e+08,13.0,99.742920
164,232,Turkmenistan,TKM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,2.258316e+10,2.590288e+10,2.877810e+10,3.171347e+10,3.497996e+10,3.725365e+10,Turkmenistan,1.102000e+09,210.0,0.000000
165,235,Timor-Leste,TLS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,9.340000e+08,1.023000e+09,1.088000e+09,1.118000e+09,1.179490e+09,1.229630e+09,Timor-Leste,7.000000e+06,6.0,0.000000
166,236,Tonga,TON,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,3.698161e+08,3.772832e+08,3.793467e+08,3.691972e+08,3.771126e+08,NaN,Tonga,3.000000e+06,28.0,0.000000
167,239,Trinidad and Tobago,TTO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.198187e+09,4.787490e+09,4.918785e+09,5.194463e+09,5.590826e+09,...,2.103761e+10,2.103908e+10,2.132649e+10,2.169752e+10,2.187468e+10,2.209480e+10,Trinidad and Tobago,8.240000e+08,611.0,0.000000
168,240,Tunisia,TUN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,4.405093e+10,4.300079e+10,4.459182e+10,4.561743e+10,4.666663e+10,4.703997e+10,Tunisia,4.300000e+08,39.0,3.492547
169,241,Turkey,TUR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,8.362456e+10,8.459132e+10,8.930427e+10,9.740087e+10,1.027180e+11,...,7.311681e+11,7.953116e+11,8.122315e+11,8.462844e+11,8.718432e+11,9.065849e+11,Turkey,4.897000e+09,64.0,28.536690
170,242,Tuvalu,TUV,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,3.182352e+07,3.451366e+07,3.457388e+07,3.502271e+07,3.571892e+07,NaN,Tuvalu,NaN,NaN,0.000000
171,244,Uganda,UGA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,2.018180e+10,2.213403e+10,2.311042e+10,2.386630e+10,2.501553e+10,2.627705e+10,Uganda,4.520000e+08,12.0,68.018180
172,245,Ukraine,UKR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,1.364193e+11,1.435131e+11,1.438001e+11,1.438001e+11,1.343093e+11,1.210127e+11,Ukraine,4.844000e+09,107.0,8.067312
173,247,Uruguay,URY,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.389822e+10,1.424471e+10,1.402042e+10,1.404432e+10,1.438707e+10,...,4.028468e+10,4.236423e+10,4.386315e+10,4.589732e+10,4.738384e+10,4.784927e+10,Uruguay,1.960000e+08,58.0,71.605040
174,248,United States,USA,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.078071e+12,3.148867e+12,3.340948e+12,3.487949e+12,3.690250e+12,...,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,United States,9.083800e+10,286.0,11.570980
175,249,Uzbekistan,UZB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,3.933277e+10,4.259739e+10,4.609038e+10,4.977761e+10,5.380959e+10,5.811436e+10,Uzbekistan,1.798000e+09,62.0,21.328410
176,252,British Virgin Islands,VGB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,British Virgin Islands,2.000000e+06,85.0,0.000000
177,255,Vanuatu,VUT,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,7.008043e+08,7.093767e+08,7.218245e+08,7.360383e+08,7.529991e+08,NaN,Vanuatu,3.000000e+06,10.0,14.705880
178,258,Samoa,WSM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,...,6.567891e+08,6.947420e+08,6.975356e+08,6.840462e+08,6.922284e+08,7.035448e+08,Samoa,4.000000e+06,22.0,31.355930
179,260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,...,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11,South Africa,6.341000e+09,119.0,1.687019
180,262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,...,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10,Zambia,4.000000e+08,26.0,99.714670
181,263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,...,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10,Zimbabwe,4.800000e+08,32.0,52.536120
182,"Korea, Rep.",South Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,South Korea,1.100700e+10,221.0,2.279353
183,"Hong Kong SAR, China",Honk Kong,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Honk Kong,5.850000e+08,82.0,0.000000

In [146]:
def answer_one():
    import pandas as pd
    import numpy as np

    skprow = [i for i in range(0,17)]

    energy = pd.read_excel('Energy Indicators.xls',skiprows = skprow,skip_footer=38)
    energy = energy.drop(['Unnamed: 0','Unnamed: 1'],axis=1)
    energy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy['Energy Supply'] =energy['Energy Supply']*1000000 
    energy['Index']=energy['Country']
    energy=energy.set_index('Index')
    energy.set_value('Republic of Korea','Country','South Korea')
    energy.set_value('United States of America20','Country','United States')
    energy.set_value('China, Hong Kong Special Administrative Region3','Country','Honk Kong')
    energy.set_value('United Kingdom of Great Britain and Northern Ireland19','Country','United Kingdom')
    energy=energy.reset_index()
    energy=energy.drop('Index',axis=1)
    # energy.loc['United States of America20']



    import re
    # rr=re.compile(r"^(.*?)(?:\((.*)\))?$")
    # rr.findall('abcd')[0][0]
    def regexfun(row):
        rr = re.compile(r"^(.*?)(?:\((.*)\))?$")
        a = rr.findall(row['Country'])[0][0]
        rr2 = re.compile("\D")
    #     print(a)
        b=''.join(rr2.findall(a))
        row['Country']=b.strip()
    #     print(row['Country'])
        if (row['Energy Supply per Capita']=='...'):
            row['Energy Supply']=np.NaN
            row['Energy Supply per Capita']=np.NaN
        return row
    energy = energy.apply(regexfun,axis=1)

    # rr2 = re.compile("[\D]")
    # rr2.findall('Afganistan')



    GDP = pd.read_csv('world_bank.csv',skiprows=[0,1,2,3])
    GDP['Index']=GDP['Country Name']
    GDP=GDP.set_index('Index')
    GDP=GDP.set_value('Korea, Rep.','Country Name','South Korea')
    GDP=GDP.set_value('Iran, Islamic Rep.','Country Name','Iran')
    GDP = GDP.set_value('Hong Kong SAR, China','Country Name','Honk Kong')
    GDP['Country']=GDP['Country Name']


    GDP=GDP.reset_index()

    ScimEn=pd.read_excel('scimagojr-3.xlsx')
    ScimEn = ScimEn[ScimEn['Rank']<16]


    abc = pd.merge(GDP,energy,on='Country',how='inner')
    # abc[:][60:]
    df = pd.merge(abc,ScimEn,on='Country',how='inner')
    df=df.set_index('Country')
    df = df [['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]

    return df

In [147]:
import pandas as pd
import numpy as np

skprow = [i for i in range(0,17)]

energy = pd.read_excel('Energy Indicators.xls',skiprows = skprow,skip_footer=38)
energy = energy.drop(['Unnamed: 0','Unnamed: 1'],axis=1)
energy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy['Energy Supply'] =energy['Energy Supply']*1000000 
energy['Index']=energy['Country']
energy=energy.set_index('Index')
energy.set_value('Republic of Korea','Country','South Korea')
energy.set_value('United States of America20','Country','United States')
energy.set_value('China, Hong Kong Special Administrative Region3','Country','Honk Kong')
energy.set_value('United Kingdom of Great Britain and Northern Ireland19','Country','United Kingdom')
energy=energy.reset_index()
energy=energy.drop('Index',axis=1)
# energy.loc['United States of America20']



import re
# rr=re.compile(r"^(.*?)(?:\((.*)\))?$")
# rr.findall('abcd')[0][0]
def regexfun(row):
    rr = re.compile(r"^(.*?)(?:\((.*)\))?$")
    a = rr.findall(row['Country'])[0][0]
    rr2 = re.compile("\D")
#     print(a)
    b=''.join(rr2.findall(a))
    row['Country']=b.strip()
#     print(row['Country'])
    if (row['Energy Supply per Capita']=='...'):
        row['Energy Supply']=np.NaN
        row['Energy Supply per Capita']=np.NaN
    return row
energy = energy.apply(regexfun,axis=1)

# rr2 = re.compile("[\D]")
# rr2.findall('Afganistan')



GDP = pd.read_csv('world_bank.csv',skiprows=[0,1,2,3])
GDP['Index']=GDP['Country Name']
GDP=GDP.set_index('Index')
GDP=GDP.set_value('Korea, Rep.','Country Name','South Korea')
GDP=GDP.set_value('Iran, Islamic Rep.','Country Name','Iran')
GDP = GDP.set_value('Hong Kong SAR, China','Country Name','Honk Kong')
GDP['Country']=GDP['Country Name']


GDP=GDP.reset_index()

ScimEn=pd.read_excel('scimagojr-3.xlsx')



abc = pd.merge(GDP,energy,on='Country',how='inner')

df = pd.merge(abc,ScimEn,on='Country',how='inner')
abcd = pd.merge(GDP,energy,on='Country',how='outer')
out = pd.merge(abcd,ScimEn,on='Country',how='outer')
out['Country']

0                                          Aruba
1                                        Andorra
2                                    Afghanistan
3                                         Angola
4                                        Albania
5                                     Arab World
6                           United Arab Emirates
7                                      Argentina
8                                        Armenia
9                                 American Samoa
10                           Antigua and Barbuda
11                                     Australia
12                                       Austria
13                                    Azerbaijan
14                                       Burundi
15                                       Belgium
16                                         Benin
17                                  Burkina Faso
18                                    Bangladesh
19                                      Bulgaria
20                                       Bahrain
21                                  Bahamas, The
22                        Bosnia and Herzegovina
23                                       Belarus
24                                        Belize
25                                       Bermuda
26                                       Bolivia
27                                        Brazil
28                                      Barbados
29                             Brunei Darussalam
                         ...
289                                      Réunion
290                                 Saint Helena
291                        Saint Kitts and Nevis
292                                  Saint Lucia
293                    Saint Pierre and Miquelon
294             Saint Vincent and the Grenadines
295                                 Sint Maarten
296                                     Slovakia
297                           State of Palestine
298    The former Yugoslav Republic of Macedonia
299                  United Republic of Tanzania
300                 United States Virgin Islands
301                                    Venezuela
302                                     Viet Nam
303                    Wallis and Futuna Islands
304                                        Yemen
305                                       Taiwan
306                                    Hong Kong
307                                    Macedonia
308                                    Palestine
309                                        Macao
310                                  North Korea
311                                         Laos
312                                Côte d’Ivoire
313                         Netherlands Antilles
314                                   Cape Verde
315                                        Haïti
316               British Indian Ocean Territory
317                             Christmas Island
318                                      Reunion
Name: Country, dtype: object

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [148]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [149]:
def answer_two():
    return 158

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [150]:
def avg(row):
    col = row[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    
    row['Average'] = sum(col)/10
    
    return row



def answer_three():
    Top15 = answer_one()
    Top15=Top15.apply(avg,axis=1)
    avgGDP = Top15['Average']
    
    return avgGDP.sort_values(ascending = False)

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [152]:
Top15 = answer_one()
a = Top15.loc['United Kingdom']['2015']
b = Top15.loc['United Kingdom']['2006']

In [153]:
def answer_four():
    Top15 = answer_one()
    a = Top15.loc['United Kingdom']['2015']
    b = Top15.loc['United Kingdom']['2006']

    return a-b

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [154]:
Top15 = answer_one()

In [155]:
def answer_five():
    Top15 = answer_one()
    import numpy as np
    
    return np.mean(Top15['Energy Supply per Capita'])

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [156]:
Top15 = answer_one()

In [157]:
def answer_six():
    Top15 = answer_one()
    import numpy as np

    return (np.argmax(Top15['% Renewable']),np.max(Top15['% Renewable']))

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [158]:
Top15 = answer_one()
# def ratio(row):
#     row['Ratio']=np.divide(row['Self-Citations'],row['Total Citations'])
#     print(row['Ratio'])
#     return row
# Top15 = Top15.apply(ratio,axis=1)

# Top15.columns

In [159]:
def answer_seven():
    Top15 = answer_one()
    temp = np.divide(Top15['Self-citations'],Top15['Citations'])
    
    return (np.argmax(temp),np.max(temp))

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

('United States', 317615384.61538464)

In [194]:
def answer_eight():
    import numpy as np
    Top15 = answer_one()
    Top15['Pop'] = np.divide(Top15['Energy Supply'],Top15['Energy Supply per Capita'])
    Top15=Top15.sort_values(by='Pop',ascending = False)
    ans = 'United States'
    
    return ans

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [162]:
Top15 = answer_one()
Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
cm = Top15.corr()
# cm.loc['Citable docs per Capita']['Energy Supply per Capita']

In [163]:
def answer_nine():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    cm = Top15.corr()
    
    return cm.loc['Citable docs per Capita']['Energy Supply per Capita']

In [164]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [165]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [166]:
Top15 = answer_one()
a = np.median(Top15['% Renewable'])
def med(row):
    if(row['% Renewable']>=a):
        row['HighRenew'] = 1
    else:
        row['HighRenew'] = 0
    return row
Top15=Top15.apply(med,axis=1)
temp = Top15[['Rank','HighRenew']]
temp = temp.sort_values(by = 'Rank')
temp = temp.drop('Rank',axis =1)

In [176]:
def answer_ten():
    Top15 = answer_one()
    Top15=Top15.apply(med,axis=1)
    Top15 = Top15.sort_values(by = 'Rank')
    temp = Top15['HighRenew']
#     temp = temp.sort_values(by = 'Rank')
#     temp = temp.drop('Rank',axis =1)
    
    return temp

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [168]:
Top15 = answer_one()
Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
ContinentDict  = {
    'China':'Asia', 
      'United States':'North America', 
      'Japan':'Asia', 
      'United Kingdom':'Europe', 
      'Russian Federation':'Europe', 
      'Canada':'North America', 
      'Germany':'Europe', 
      'India':'Asia',
      'France':'Europe', 
      'South Korea':'Asia', 
      'Italy':'Europe', 
      'Spain':'Europe', 
      'Iran':'Asia',
      'Australia':'Australia', 
      'Brazil':'South America'}
Top15['Continent']=None
for item in ContinentDict:
    Top15.set_value(item,'Continent',ContinentDict[item])
#(df.set_index('STNAME').groupby(level=0)['CENSUS2010POP'].agg({'avg': np.average, 'sum': np.sum}))
ans=Top15.set_index('Continent').groupby(level=0)['PopEst'].agg({'size': np.count_nonzero,'sum':np.sum,'mean':np.mean,'std':np.std})

In [169]:
def answer_eleven():
    Top15 = answer_one()
    return ans

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [170]:
import pandas as pd

In [177]:

def answer_twelve():
    import pandas as pd

    Top15['% Renewable']=pd.cut(Top15['% Renewable'],5)



    abc=Top15.set_index(['Continent','% Renewable']).groupby(level=[0,1])['Rank'].agg({'count':np.count_nonzero})
    return abc['count']

Continent      % Renewable
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
Name: count, dtype: int64

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [172]:
def formating(row):
    row['PopEst']=format(row['PopEst'],',')
    return row

In [173]:
def answer_thirteen():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    ans=Top15.apply(formating,axis=1)
    ans1=ans['PopEst']
    
    
    
    return ans1

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [145]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!